name: Automated API tests using Postman CLI

on: 
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  automated-api-tests:
    runs-on: ubuntu-latest
    env:
      ENV_FILE: Dev.postman_environment.json # change as needed (Stage/Prod)
      
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install Newman
        run: npm install newman

      - name: Run Postman Collection
        run: |
          npx newman run "postman/collections/01 - RESTful API Fundamentals.postman_collection.json" \
            --environment "postman/environments/${{ env.ENV_FILE }}" \
            --reporters cli,json \
            --reporter-json-export "postman/collections/newman-report-01.json"
            
          npx newman run "postman/collections/02 - Authentication-Authorization.postman_collection.json" \
            --environment "postman/environments/${{ env.ENV_FILE }}" \
            --reporters cli,json \
            --reporter-json-export "postman/collections/newman-report-02.json"

          npx newman run "postman/collections/03 - E-commerce API Testing.postman_collection.json" \
            --environment "postman/environments/${{ env.ENV_FILE }}" \
            --reporters cli,json \
            --reporter-json-export "postman/collections/newman-report-03.json"

          # npx newman run "postman/collections/04 - Data Driven Testing.postman_collection.json" \
          #   --environment "postman/environments/${{ env.ENV_FILE }}" \
          #   --iteration-data postman/collections/testData.csv \
          #   --reporters cli,json \
          #   --reporter-json-export "postman/collections/newman-report-04-csv.json"

          # npx newman run "postman/collections/04 - Data Driven Testing.postman_collection.json" \
          #   --environment "postman/environments/${{ env.ENV_FILE }}" \
          #   --iteration-data postman/collections/testData.json \
          #   --reporters cli,json \
          #   --reporter-json-export "postman/collections/newman-report-04-json.json"

          # npx newman run "postman/collections/05 - E2E Shopping Workflow.postman_collection.json" \
          #   --environment "postman/environments/${{ env.ENV_FILE }}" \
          #   --reporters cli,json \
          #   --reporter-json-export "postman/collections/newman-report-05.json"

          # npx newman run "postman/collections/06 - Advanced Techniques.postman_collection.json" \
          #   --environment "postman/environments/${{ env.ENV_FILE }}" \
          #   --reporters cli,json \
          #   --reporter-json-export "postman/collections/newman-report-06.json"

      - name: Upload Newman Report - 01
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: newman-report-01
          path: postman/collections/newman-report-01.json

      - name: Upload Newman Report - 02
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: newman-report-02
          path: postman/collections/newman-report-02.json

      - name: Upload Newman Report - 03
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: newman-report-03
          path: postman/collections/newman-report-03.json

      # - name: Upload Newman Report - 04-csv
      #   uses: actions/upload-artifact@v4
      #   if: always()
      #   with:
      #     name: newman-report-04-csv
      #     path: postman/collections/newman-report-04-csv.json

      # - name: Upload Newman Report - 04-json
      #   uses: actions/upload-artifact@v4
      #   if: always()
      #   with:
      #     name: newman-report-04-json
      #     path: postman/collections/newman-report-04-json.json

      # - name: Upload Newman Report - 05
      #   uses: actions/upload-artifact@v4
      #   if: always()
      #   with:
      #     name: newman-report-05
      #     path: postman/collections/newman-report-05.json

      # - name: Upload Newman Report - 06
      #   uses: actions/upload-artifact@v4
      #   if: always()
      #   with:
      #     name: newman-report-06
      #     path: postman/collections/newman-report-06.json