name: Automated API tests using Postman CLI

on: 
  push:
    branches:
      - main
  pull_request:
    branches:
      - main


jobs:
  automated-api-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install Newman
        run: npm install newman

      - name: Run Postman Collection
        run: npx newman run collection.json --reporters cli,json --reporter-json-export newman-report.json

      - name: Upload Newman Report
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: newman-report
          path: newman-report.json